@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top_icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-blue-500 hover:text-white;
  }

  .navbar_link:hover{
    color:rgb(209, 28, 179);
    transition: all 0.4s;
  }
  .navbar_link::after{
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    scale: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(208, 24, 233);
    transform-origin: left;
    transition: all 0.4s;
  }
  .navbar_link:hover::after{
    scale: 1;
  }

}